---
import Header from "@/components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Queer Coded UBC">
  <div class="header-container">
    <Header />
  </div>
</Layout>

<style lang="scss">
  .header-container {
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
