---

---

<div class="card">
  <slot />
</div>

<style lang="scss">
  $card-border-radius: 24px;
  $card-padding: 16px;

  .card {
    --card-padding: #{$card-padding};

    border-width: 2px;
    border-style: solid;
    border-color: #f1f1f1;

    @media (prefers-color-scheme: dark) {
      border-color: #555;
    }

    border-radius: $card-border-radius;
    overflow: hidden;

    padding-bottom: $card-padding;
  }
</style>
