---

---

<div class="card-table-cell">
  <slot />
</div>

<style lang="scss">
  .card-table-cell {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
</style>
