---
import logoSvg from "@/assets/logo.svg";
---

<footer>
  <img
    src={logoSvg.src}
    style={{ aspectRatio: `${logoSvg.width}/${logoSvg.height}` }}
    alt="Queer Coded Logo"
  />
  <div class="links">
    <a href="/press-resources">Press Resources</a>
    <a
      href="https://github.com/QueerCodedUBC/website/"
      target="_blank"
      rel="noopener noreferrer">View on GitHub</a
    >
  </div>
</footer>

<style lang="scss">
  @use "sass:color";
  @use "@/scss/colors";

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 2rem;
    padding: 2rem;
    background-color: #f9f9f9;
    @media (prefers-color-scheme: dark) {
      background-color: #100000;
    }

    img {
      width: 3rem;
      height: 3rem;
      margin: 0 0.5rem;
    }

    .links {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      gap: 1rem;
      flex-wrap: wrap;

      a {
        filter: grayscale(100%);
      }
    }
  }
</style>
