// light
$primary-text-color: rgba(#000, 0.87);
$secondary-text-color: rgba(#000, 0.54);
$disabled-text-color: rgba(#000, 0.38);
$link-text-color: #1565c0;
$link-text-color-visited: #5e35b1;
$background: #fffcfc;

// dark
$primary-text-color-dark: #fff;
$secondary-text-color-dark: rgba(#fff, 0.7);
$disabled-text-color-dark: rgba(#fff, 0.5);
$link-text-color-dark: #42a5f5;
$link-text-color-visited-dark: #b39ddb;
$background-dark: #200000;
