---
import Footer from "@/components/Footer.astro";
import TopBar from "@/components/TopBar.astro";

interface Props {
  title: string;
  showTopBar?: boolean;
}

const { title, showTopBar } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta
      name="description"
      content="Queer Coded is a group for LGBTQ2IA+ students and allies interested in Computer Science at UBC. Our goal is to create a safe and welcoming collective that fosters community building and empowers and supports students, while increasing the visibility of LGBTQ2IA+ people in tech."
    />

    <meta
      name="theme-color"
      content="#200000"
      media="(prefers-color-scheme: dark)"
    />
    <meta name="theme-color" content="#fffcfc" />

    <meta property="og:title" content="Queer Coded" />
    <meta
      property="og:description"
      content="A group for LGBTQ2IA+ students and allies interested in Computer Science at UBC."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.site!.toString()} />
    <meta
      property="og:image"
      content={new URL("/open-graph.png", Astro.site).toString()}
    />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="675" />
    <meta
      property="og:image"
      content={new URL("/open-graph-square.png", Astro.site).toString()}
    />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="1200" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:image"
      content={new URL("/open-graph.png", Astro.site).toString()}
    />
    <meta name="twitter:title" content="Queer Coded" />
    <meta
      name="twitter:description"
      content="A group for LGBTQ2IA+ students and allies interested in Computer Science at UBC."
    />

    <title>{title}</title>
  </head>
  <body ontouchstart="">
    {showTopBar && <TopBar />}
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style lang="scss" is:global>
  // fonts
  @use "inter-ui/default" with (
    $inter-font-display: block,
    $inter-font-path: "inter-ui/Inter (web hinted latin)"
  );
  @use "inter-ui/variable" with (
    $inter-font-display: block,
    $inter-font-path: "inter-ui/Inter (web latin)"
  );

  @include default.all;
  @include variable.default;

  @font-face {
    font-family: "Atyp";
    src:
      local("Atyp Text Semibold"),
      local("Atyp-Text-Semibold"),
      url("../assets/fonts/AtypText-Semibold.woff2") format("woff2"),
      url("../assets/fonts/AtypText-Semibold.woff") format("woff"),
      url("../assets/fonts/AtypText-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
</style>

<style lang="scss" is:global>
  @use "@/scss/colors";
  @use "material-symbols" with (
    $material-symbols-font-path: "material-symbols/"
  );

  html {
    scroll-behavior: smooth;
    overflow: auto;
    overflow: overlay;

    font-family: "Inter", Arial, Helvetica, system-ui, sans-serif;
    @supports (font-variation-settings: normal) {
      font-family: "Inter var", Inter, Helvetica, Arial, sans-serif;
    }
    font-size: 16px;
    @media (max-width: 420px) {
      font-size: 14px;
    }

    color: colors.$primary-text-color;
    background-color: colors.$background;

    @media (prefers-color-scheme: dark) {
      color: colors.$primary-text-color-dark;
      background-color: colors.$background-dark;
    }
  }

  body {
    margin: 0;
    padding: 0;

    min-height: 100lvh;

    padding: env(safe-area-inset-top) env(safe-area-inset-right)
      env(safe-area-inset-bottom) env(safe-area-inset-left);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    > main {
      flex-grow: 1;
    }
  }

  a {
    word-wrap: break-word;
    color: colors.$link-text-color;

    @media (prefers-color-scheme: dark) {
      color: colors.$link-text-color-dark;
    }

    &:visited {
      color: colors.$link-text-color-visited;

      @media (prefers-color-scheme: dark) {
        color: colors.$link-text-color-visited-dark;
      }
    }
  }

  [class^="material-symbols-"] {
    user-select: none;
  }

  input,
  textarea,
  button,
  select,
  a {
    -webkit-tap-highlight-color: transparent;
  }
</style>
